:root {
    --primary-color: #ffab2b;
    --primary-datk-color: #252631;
    --secondary-dark-color: #778ca2;
    --thrid-dark-color: #98a9bc;
    --blueberry-color: #4d7cfe;
    --green-color: #6dd230;
    --pink-color: #fe4d97;
    --light-blue-color: #2ce5f6;
    --outline-color: #e8ecef;
    --background-color: #f2f4f6;
    --light-background-color: #f8fafb;
    --white-color: #fff;
    --black-color: #000;
}
